
public class Sqrt {
	
	public static double sqrt(int i){
		double m = i;
		return helper(m,0.0,m);
		
		
	}
	
	public static double helper(double i, double lower, double higher){
		double min_range = 0.0000000001;
		double mid = 0.0;
		
		while(higher - lower > min_range){
		    mid = lower + (higher-lower)/2;
			if(mid * mid < i) lower= mid;
			if(mid * mid > i) higher = mid;
			//System.out.println(mid);
			double diff = Math.abs(mid * mid - i);
			//System.out.println(diff);
			if(diff <= min_range) return mid;
		}
	
	
		return mid;
	}
	
	public static void main(String[] args){
		System.out.println(sqrt(25));
		
	}

}
